eks_cluster_region = "<place-holder>"
eks_cluster_name   = "<place-holder>"

castai_api_url   = "https://api.cast.ai"
castai_api_token = "<place-holder>"
organization_id  = "<place-holder>"
cluster_id       = "<place-holder>"
